# Dev - Experiments

!pip install click
!pip install pandas

In [3]:
import sys
sys.path.append('../../src/experiment_tracker')  
from modules import Experiments

In [4]:
exp = Experiments('experiments')

In [5]:
exp.save('model 1', comment = "probando algo nuevo", metrics = {"rmse":0.123453, "bias":1.232413})
exp.save('model 2', comment = "probando algo nuevo", metrics = {"rmse":0.123453, "bias":1.232413})
exp.save('model 3', comment = "probando algo nuevo", metrics = {"rmse":0.123453, "bias":1.232413})

[warning] This name already exits: It will not saved this experiment.
[warning] This name already exits: It will not saved this experiment.
[warning] This name already exits: It will not saved this experiment.

In [6]:
exp.show()

['1-20230120233219-model_3.json',
 '2-20230120233237-model_1.json',
 '3-20230120233237-model_2.json']

In [7]:
exp.load()

,creation_dt,name,comment,metric_rmse,metric_bias
nid,,,,,
1,2023-01-20 23:32:19,model 3,probando algo nuevo,0.123453,1.232413
2,2023-01-20 23:32:37,model 1,probando algo nuevo,0.123453,1.232413
3,2023-01-20 23:32:37,model 2,probando algo nuevo,0.123453,1.232413

In [8]:
exp.load(nid = 1)

{'name': 'model 3',
 'comment': 'probando algo nuevo',
 'metrics': {'rmse': 0.123453, 'bias': 1.232413}}

In [9]:
exp.clean()

In [10]:
!ls -la experiments/

total 0
drwxr-xr-x  2 juan  staff   64 Jan 20 23:52 .
drwxr-xr-x  4 juan  staff  128 Jan 20 23:46 ..